TemperatureSensors
[
    {
        "id": "e4117c25.fc64c",
        "type": "ui_text",
        "z": "6e9cc0d0.dfa88",
        "group": "543b2a64.782364",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Temperature ",
        "label": "Temp N101",
        "format": "{{msg.payload}} °C",
        "layout": "row-left",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "496d1100.9824f",
        "type": "ui_chart",
        "z": "6e9cc0d0.dfa88",
        "name": "Temperature plot",
        "group": "543b2a64.782364",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Node101 Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 510,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "668e7454.ac7c4c",
        "type": "debug",
        "z": "6e9cc0d0.dfa88",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "acb80805.43ea58",
        "type": "mqtt in",
        "z": "6e9cc0d0.dfa88",
        "name": "",
        "topic": "/Node101/Sensor/Temperature",
        "qos": "0",
        "broker": "cb7ebda1.05ae7",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "668e7454.ac7c4c",
                "e4117c25.fc64c",
                "496d1100.9824f"
            ]
        ]
    },
    {
        "id": "b9152b12.498c08",
        "type": "comment",
        "z": "6e9cc0d0.dfa88",
        "name": "Node101 Temperature",
        "info": "",
        "x": 120,
        "y": 120,
        "wires": []
    },
    {
        "id": "19a02fc4.b724e",
        "type": "ui_text",
        "z": "6e9cc0d0.dfa88",
        "group": "64844580.d80b3c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Temperature ",
        "label": "Temp N102",
        "format": "{{msg.payload}} °C",
        "layout": "row-left",
        "x": 490,
        "y": 380,
        "wires": []
    },
    {
        "id": "1843716a.bb1a6f",
        "type": "ui_chart",
        "z": "6e9cc0d0.dfa88",
        "name": "Temperature plot",
        "group": "64844580.d80b3c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Node102 Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 510,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7e22b10d.ea3e4",
        "type": "debug",
        "z": "6e9cc0d0.dfa88",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 490,
        "y": 340,
        "wires": []
    },
    {
        "id": "17027aa9.b6eb45",
        "type": "mqtt in",
        "z": "6e9cc0d0.dfa88",
        "name": "",
        "topic": "/Node102/Sensor/Temperature",
        "qos": "0",
        "broker": "cb7ebda1.05ae7",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "7e22b10d.ea3e4",
                "19a02fc4.b724e",
                "1843716a.bb1a6f"
            ]
        ]
    },
    {
        "id": "61798e19.abc7a",
        "type": "comment",
        "z": "6e9cc0d0.dfa88",
        "name": "Node102 Temperature",
        "info": "",
        "x": 120,
        "y": 320,
        "wires": []
    },
    {
        "id": "3aacedb4.f7c092",
        "type": "ui_text",
        "z": "6e9cc0d0.dfa88",
        "group": "5a5a93e4.d981dc",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Temperature ",
        "label": "Temp N103",
        "format": "{{msg.payload}} °C",
        "layout": "row-left",
        "x": 490,
        "y": 580,
        "wires": []
    },
    {
        "id": "9dccc58f.5f0798",
        "type": "ui_chart",
        "z": "6e9cc0d0.dfa88",
        "name": "Temperature plot",
        "group": "5a5a93e4.d981dc",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Node103 Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 510,
        "y": 620,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d13c4db5.9e89b",
        "type": "debug",
        "z": "6e9cc0d0.dfa88",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 490,
        "y": 540,
        "wires": []
    },
    {
        "id": "3919c7f1.bc3b48",
        "type": "mqtt in",
        "z": "6e9cc0d0.dfa88",
        "name": "",
        "topic": "/Node103/Sensor/Temperature",
        "qos": "0",
        "broker": "cb7ebda1.05ae7",
        "x": 190,
        "y": 580,
        "wires": [
            [
                "d13c4db5.9e89b",
                "3aacedb4.f7c092",
                "9dccc58f.5f0798"
            ]
        ]
    },
    {
        "id": "3ac90d35.a02a92",
        "type": "comment",
        "z": "6e9cc0d0.dfa88",
        "name": "Node103 Temperature",
        "info": "",
        "x": 120,
        "y": 520,
        "wires": []
    },
    {
        "id": "543b2a64.782364",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "4c6b0910.5382e8",
        "disp": true,
        "width": "6"
    },
    {
        "id": "cb7ebda1.05ae7",
        "type": "mqtt-broker",
        "z": "",
        "broker": "Localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "64844580.d80b3c",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "2777cef3.a62752",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "5a5a93e4.d981dc",
        "type": "ui_group",
        "z": "",
        "name": "Temperatere",
        "tab": "89889251.7575f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "4c6b0910.5382e8",
        "type": "ui_tab",
        "z": "",
        "name": "Haloszoba",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "2777cef3.a62752",
        "type": "ui_tab",
        "z": "",
        "name": "Test",
        "icon": "dashboard",
        "order": 7
    },
    {
        "id": "89889251.7575f",
        "type": "ui_tab",
        "z": "",
        "name": "Nappali",
        "icon": "dashboard",
        "order": 1
    }
]
