Weather
[
    {
        "id": "7959c5f.31dad3c",
        "type": "openweathermap in",
        "z": "cc6bd77c.6bdb48",
        "name": "Woking current weather",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "woking",
        "country": "united Kingdom",
        "language": "en",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "1c8347ab.7901b8",
                "51ccd435.c55bec",
                "d7f51878.560698",
                "35027e55.af5152",
                "a145a9de.b70298",
                "be4623e2.060b4",
                "50a82725.325ef8",
                "c75f9939.4635c8",
                "b0b1b753.22f388",
                "1af16848.e881b8",
                "ed32daf9.276078"
            ]
        ]
    },
    {
        "id": "792e8163.cb4e8",
        "type": "comment",
        "z": "cc6bd77c.6bdb48",
        "name": "Current Weather in Woking",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "a16ce206.d9482",
        "type": "comment",
        "z": "cc6bd77c.6bdb48",
        "name": "Current Weather in Tatabanya",
        "info": "",
        "x": 160,
        "y": 680,
        "wires": []
    },
    {
        "id": "18bc399b.265da6",
        "type": "comment",
        "z": "cc6bd77c.6bdb48",
        "name": "Current Weather in Szekesfehervar",
        "info": "",
        "x": 180,
        "y": 1160,
        "wires": []
    },
    {
        "id": "1c8347ab.7901b8",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "82a2fe9d.7e2f4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Weather",
        "label": "Weather",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "51ccd435.c55bec",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "82a2fe9d.7e2f4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Temperature",
        "label": "Temperature",
        "format": "{{msg.payload.tempc}} °C",
        "layout": "row-spread",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "a145a9de.b70298",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "82a2fe9d.7e2f4",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Winddirection",
        "label": "Winddirection",
        "format": "{{msg.payload.winddirection}} meteorological degrees.",
        "layout": "row-spread",
        "x": 500,
        "y": 440,
        "wires": []
    },
    {
        "id": "35027e55.af5152",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "82a2fe9d.7e2f4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Windspeed",
        "label": "Windspeed",
        "format": "{{msg.payload.windspeed}} m/s",
        "layout": "row-spread",
        "x": 490,
        "y": 400,
        "wires": []
    },
    {
        "id": "d7f51878.560698",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "82a2fe9d.7e2f4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Humidity",
        "label": "Humidity",
        "format": "{{msg.payload.humidity}} %",
        "layout": "row-spread",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "be4623e2.060b4",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "82a2fe9d.7e2f4",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Clouds",
        "label": "Clouds",
        "format": "{{msg.payload.clouds}} %",
        "layout": "row-spread",
        "x": 480,
        "y": 560,
        "wires": []
    },
    {
        "id": "50a82725.325ef8",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "82a2fe9d.7e2f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Detail",
        "label": "Detail",
        "format": "{{msg.payload.detail}}",
        "layout": "row-spread",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "32f623c5.47ab4c",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "82a2fe9d.7e2f4",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Max Temp",
        "label": "Max Temp",
        "format": "{{msg.payload.maxtemp}} °C",
        "layout": "row-spread",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "5fb01846.751988",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "82a2fe9d.7e2f4",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Min Temp",
        "label": "Min Temp",
        "format": "{{msg.payload.mintemp}} °C",
        "layout": "row-spread",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "30ed2cb1.5eb424",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "82a2fe9d.7e2f4",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "Sunrise",
        "label": "Sunrise",
        "format": "{{msg.payload.sunrise}}",
        "layout": "row-spread",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "7e74737d.1f433c",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "82a2fe9d.7e2f4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "Sunset",
        "label": "Sunset",
        "format": "{{msg.payload.sunset}}",
        "layout": "row-spread",
        "x": 800,
        "y": 520,
        "wires": []
    },
    {
        "id": "c75f9939.4635c8",
        "type": "function",
        "z": "cc6bd77c.6bdb48",
        "name": "Kelvin to Celsius converter",
        "func": "msg.payload.maxtemp = Number(msg.payload.maxtemp);\nmsg.payload.maxtemp = (msg.payload.maxtemp)-273.15;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 320,
        "wires": [
            [
                "32f623c5.47ab4c"
            ]
        ]
    },
    {
        "id": "b0b1b753.22f388",
        "type": "function",
        "z": "cc6bd77c.6bdb48",
        "name": "Kelvin to Celsius converter",
        "func": "msg.payload.mintemp = Number(msg.payload.mintemp);\nmsg.payload.mintemp = (msg.payload.mintemp)-273.15;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 360,
        "wires": [
            [
                "5fb01846.751988"
            ]
        ]
    },
    {
        "id": "1af16848.e881b8",
        "type": "function",
        "z": "cc6bd77c.6bdb48",
        "name": "UTC to ISO converter",
        "func": "msg.payload.sunrise = new Date((msg.payload.sunrise) * 1000);\nmsg.payload.sunrise = msg.payload.sunrise.toLocaleTimeString();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 480,
        "wires": [
            [
                "30ed2cb1.5eb424"
            ]
        ]
    },
    {
        "id": "ed32daf9.276078",
        "type": "function",
        "z": "cc6bd77c.6bdb48",
        "name": "UTC to ISO converter",
        "func": "msg.payload.sunset = new Date((msg.payload.sunset) * 1000);\nmsg.payload.sunset = msg.payload.sunset.toLocaleTimeString();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 520,
        "wires": [
            [
                "7e74737d.1f433c"
            ]
        ]
    },
    {
        "id": "6e177493.78296c",
        "type": "openweathermap in",
        "z": "cc6bd77c.6bdb48",
        "name": "Tatabanya current weather",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "tatabanya",
        "country": "hungary",
        "language": "en",
        "x": 190,
        "y": 900,
        "wires": [
            [
                "3af378ec.0ce1c8",
                "26df0466.033ccc",
                "f07e9865.55cd18",
                "aea4bbba.6e38f8",
                "f282cfe7.d6602",
                "3cd7b60e.2d1d0a",
                "fc329bad.f95778",
                "cdf92fbd.1035c",
                "3077e0e2.55008",
                "94c33c9c.88489",
                "a4da9486.486858"
            ]
        ]
    },
    {
        "id": "3af378ec.0ce1c8",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "3e2b0b4.5ccfcf4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Weather",
        "label": "Weather",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "x": 480,
        "y": 720,
        "wires": []
    },
    {
        "id": "26df0466.033ccc",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "3e2b0b4.5ccfcf4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Temperature",
        "label": "Temperature",
        "format": "{{msg.payload.tempc}} °C",
        "layout": "row-spread",
        "x": 490,
        "y": 800,
        "wires": []
    },
    {
        "id": "f282cfe7.d6602",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "3e2b0b4.5ccfcf4",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Winddirection",
        "label": "Winddirection",
        "format": "{{msg.payload.winddirection}} meteorological degrees.",
        "layout": "row-spread",
        "x": 500,
        "y": 1000,
        "wires": []
    },
    {
        "id": "aea4bbba.6e38f8",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "3e2b0b4.5ccfcf4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Windspeed",
        "label": "Windspeed",
        "format": "{{msg.payload.windspeed}} m/s",
        "layout": "row-spread",
        "x": 490,
        "y": 960,
        "wires": []
    },
    {
        "id": "f07e9865.55cd18",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "3e2b0b4.5ccfcf4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Humidity",
        "label": "Humidity",
        "format": "{{msg.payload.humidity}} %",
        "layout": "row-spread",
        "x": 480,
        "y": 840,
        "wires": []
    },
    {
        "id": "3cd7b60e.2d1d0a",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "3e2b0b4.5ccfcf4",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Clouds",
        "label": "Clouds",
        "format": "{{msg.payload.clouds}} %",
        "layout": "row-spread",
        "x": 480,
        "y": 1120,
        "wires": []
    },
    {
        "id": "fc329bad.f95778",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "3e2b0b4.5ccfcf4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Detail",
        "label": "Detail",
        "format": "{{msg.payload.detail}}",
        "layout": "row-spread",
        "x": 470,
        "y": 760,
        "wires": []
    },
    {
        "id": "452272f2.03ef2c",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "3e2b0b4.5ccfcf4",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Max Temp",
        "label": "Max Temp",
        "format": "{{msg.payload.maxtemp}} °C",
        "layout": "row-spread",
        "x": 810,
        "y": 880,
        "wires": []
    },
    {
        "id": "f03bcece.75035",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "3e2b0b4.5ccfcf4",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Min Temp",
        "label": "Min Temp",
        "format": "{{msg.payload.mintemp}} °C",
        "layout": "row-spread",
        "x": 800,
        "y": 920,
        "wires": []
    },
    {
        "id": "769699bb.f22ef8",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "3e2b0b4.5ccfcf4",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "Sunrise",
        "label": "Sunrise",
        "format": "{{msg.payload.sunrise}}",
        "layout": "row-spread",
        "x": 800,
        "y": 1040,
        "wires": []
    },
    {
        "id": "bb8b229e.a399a",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "3e2b0b4.5ccfcf4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "Sunset",
        "label": "Sunset",
        "format": "{{msg.payload.sunset}}",
        "layout": "row-spread",
        "x": 800,
        "y": 1080,
        "wires": []
    },
    {
        "id": "cdf92fbd.1035c",
        "type": "function",
        "z": "cc6bd77c.6bdb48",
        "name": "Kelvin to Celsius converter",
        "func": "msg.payload.maxtemp = Number(msg.payload.maxtemp);\nmsg.payload.maxtemp = (msg.payload.maxtemp)-273.15;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 880,
        "wires": [
            [
                "452272f2.03ef2c"
            ]
        ]
    },
    {
        "id": "3077e0e2.55008",
        "type": "function",
        "z": "cc6bd77c.6bdb48",
        "name": "Kelvin to Celsius converter",
        "func": "msg.payload.mintemp = Number(msg.payload.mintemp);\nmsg.payload.mintemp = (msg.payload.mintemp)-273.15;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 920,
        "wires": [
            [
                "f03bcece.75035"
            ]
        ]
    },
    {
        "id": "94c33c9c.88489",
        "type": "function",
        "z": "cc6bd77c.6bdb48",
        "name": "UTC to ISO converter",
        "func": "msg.payload.sunrise = new Date((msg.payload.sunrise) * 1000);\nmsg.payload.sunrise = msg.payload.sunrise.toLocaleTimeString();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 1040,
        "wires": [
            [
                "769699bb.f22ef8"
            ]
        ]
    },
    {
        "id": "a4da9486.486858",
        "type": "function",
        "z": "cc6bd77c.6bdb48",
        "name": "UTC to ISO converter",
        "func": "msg.payload.sunset = new Date((msg.payload.sunset) * 1000);\nmsg.payload.sunset = msg.payload.sunset.toLocaleTimeString();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 1080,
        "wires": [
            [
                "bb8b229e.a399a"
            ]
        ]
    },
    {
        "id": "23618179.6395be",
        "type": "openweathermap in",
        "z": "cc6bd77c.6bdb48",
        "name": "Tatabanya current weather",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "szekesfehervar",
        "country": "hungary",
        "language": "en",
        "x": 190,
        "y": 1420,
        "wires": [
            [
                "768c4228.17b4cc",
                "d8662514.25b2e8",
                "4a585ce5.0fd344",
                "9352e965.715838",
                "bad60baa.400678",
                "e1f18a4c.f285d8",
                "d8816678.e6e888",
                "98ec22cb.1b181",
                "54528317.872c1c",
                "63c0966.49a8b68",
                "ffe63b5b.fdafa8"
            ]
        ]
    },
    {
        "id": "768c4228.17b4cc",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "520f4bc3.dd2e44",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Weather",
        "label": "Weather",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "x": 480,
        "y": 1240,
        "wires": []
    },
    {
        "id": "d8662514.25b2e8",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "520f4bc3.dd2e44",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Temperature",
        "label": "Temperature",
        "format": "{{msg.payload.tempc}} °C",
        "layout": "row-spread",
        "x": 490,
        "y": 1320,
        "wires": []
    },
    {
        "id": "bad60baa.400678",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "520f4bc3.dd2e44",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Winddirection",
        "label": "Winddirection",
        "format": "{{msg.payload.winddirection}} meteorological degrees.",
        "layout": "row-spread",
        "x": 500,
        "y": 1520,
        "wires": []
    },
    {
        "id": "9352e965.715838",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "520f4bc3.dd2e44",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Windspeed",
        "label": "Windspeed",
        "format": "{{msg.payload.windspeed}} m/s",
        "layout": "row-spread",
        "x": 490,
        "y": 1480,
        "wires": []
    },
    {
        "id": "4a585ce5.0fd344",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "520f4bc3.dd2e44",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Humidity",
        "label": "Humidity",
        "format": "{{msg.payload.humidity}} %",
        "layout": "row-spread",
        "x": 480,
        "y": 1360,
        "wires": []
    },
    {
        "id": "e1f18a4c.f285d8",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "520f4bc3.dd2e44",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Clouds",
        "label": "Clouds",
        "format": "{{msg.payload.clouds}} %",
        "layout": "row-spread",
        "x": 480,
        "y": 1640,
        "wires": []
    },
    {
        "id": "d8816678.e6e888",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "520f4bc3.dd2e44",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Detail",
        "label": "Detail",
        "format": "{{msg.payload.detail}}",
        "layout": "row-spread",
        "x": 470,
        "y": 1280,
        "wires": []
    },
    {
        "id": "c8a29520.a50718",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "520f4bc3.dd2e44",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Max Temp",
        "label": "Max Temp",
        "format": "{{msg.payload.maxtemp}} °C",
        "layout": "row-spread",
        "x": 810,
        "y": 1400,
        "wires": []
    },
    {
        "id": "900e1ec2.9934b",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "520f4bc3.dd2e44",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Min Temp",
        "label": "Min Temp",
        "format": "{{msg.payload.mintemp}} °C",
        "layout": "row-spread",
        "x": 800,
        "y": 1440,
        "wires": []
    },
    {
        "id": "a9b1ba01.4b7e58",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "520f4bc3.dd2e44",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "Sunrise",
        "label": "Sunrise",
        "format": "{{msg.payload.sunrise}}",
        "layout": "row-spread",
        "x": 800,
        "y": 1560,
        "wires": []
    },
    {
        "id": "db6dd675.a07758",
        "type": "ui_text",
        "z": "cc6bd77c.6bdb48",
        "group": "520f4bc3.dd2e44",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "Sunset",
        "label": "Sunset",
        "format": "{{msg.payload.sunset}}",
        "layout": "row-spread",
        "x": 800,
        "y": 1600,
        "wires": []
    },
    {
        "id": "98ec22cb.1b181",
        "type": "function",
        "z": "cc6bd77c.6bdb48",
        "name": "Kelvin to Celsius converter",
        "func": "msg.payload.maxtemp = Number(msg.payload.maxtemp);\nmsg.payload.maxtemp = (msg.payload.maxtemp)-273.15;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 1400,
        "wires": [
            [
                "c8a29520.a50718"
            ]
        ]
    },
    {
        "id": "54528317.872c1c",
        "type": "function",
        "z": "cc6bd77c.6bdb48",
        "name": "Kelvin to Celsius converter",
        "func": "msg.payload.mintemp = Number(msg.payload.mintemp);\nmsg.payload.mintemp = (msg.payload.mintemp)-273.15;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 1440,
        "wires": [
            [
                "900e1ec2.9934b"
            ]
        ]
    },
    {
        "id": "63c0966.49a8b68",
        "type": "function",
        "z": "cc6bd77c.6bdb48",
        "name": "UTC to ISO converter",
        "func": "msg.payload.sunrise = new Date((msg.payload.sunrise) * 1000);\nmsg.payload.sunrise = msg.payload.sunrise.toLocaleTimeString();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 1560,
        "wires": [
            [
                "a9b1ba01.4b7e58"
            ]
        ]
    },
    {
        "id": "ffe63b5b.fdafa8",
        "type": "function",
        "z": "cc6bd77c.6bdb48",
        "name": "UTC to ISO converter",
        "func": "msg.payload.sunset = new Date((msg.payload.sunset) * 1000);\nmsg.payload.sunset = msg.payload.sunset.toLocaleTimeString();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 1600,
        "wires": [
            [
                "db6dd675.a07758"
            ]
        ]
    },
    {
        "id": "82a2fe9d.7e2f4",
        "type": "ui_group",
        "z": "",
        "name": "Current Weather in Woking",
        "tab": "5364a4e9.b0aa9c",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "3e2b0b4.5ccfcf4",
        "type": "ui_group",
        "z": "",
        "name": "Current Weather in Tatabanya",
        "tab": "5364a4e9.b0aa9c",
        "disp": true,
        "width": "6"
    },
    {
        "id": "520f4bc3.dd2e44",
        "type": "ui_group",
        "z": "",
        "name": "Current Weather in Szekesfehervar",
        "tab": "5364a4e9.b0aa9c",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "5364a4e9.b0aa9c",
        "type": "ui_tab",
        "z": "",
        "name": "Weather",
        "icon": "cloud",
        "order": 6
    }
]
